{%extends "pages/base.html"%}

{%block body%}

<div id="facts" class="section">

    <div class="container"><br><br>
        <div class="has-text-centered">
            <p class="has-text-centered">
                <span class="title has-background-white-ter  has-text-centered"
                    style="width: 50px; height:50px; padding: 20px; border-radius: 50%;">
                    <i class="em em-tada" aria-role="presentation" aria-label="PARTY POPPER"></i>
                </span>
            </p><br>
            <p class="title"><a href="#facts" class="no-link-dec">Dev Journey</a></p>
            <p class="subtitle">Milestones
                </a>. </p>
        </div>
        <div class="">
            <div class="container notification is-white">
                <hr>
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag is-dark">Dev.to article views</span>
                            <span class="tag is-info">58k</span>
                        </div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag is-dark">Codementor.io article views</span>
                            <span class="tag is-info">46k</span>
                        </div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag is-dark">Pypi downloads</span>
                            <span class="tag is-info">125k</span>
                        </div>
                    </div>
                </div>
                <div style="">
                    <div class="timeline">
                        <header class="timeline-header">
                          <span class="tag is-medium is-primary">End</span>
                        </header>

                        {% for fact in reversed(settings.facts) %}
                        <div class="timeline-item">
                          <div class="timeline-marker"></div>
                          <div class="timeline-content">
                            <p class="heading">[{{fact['date']}}] <a href="{{ fact['link'] }}">{{ fact['title'] }}</a></p>
                            <p>{{fact['notes'] | safe }}</p>
                          </div>
                        </div>
                        {%endfor%}
                        <div class="timeline-header">
                          <span class="tag is-medium is-primary">Start</span>
                        </div>
                      </div>

                </div>
                <!--Holder end-->
            </div>
        </div>
    </div>
</div>
{% include "sections/footer.html" %}
{%endblock%}