<div class="section" id="blog-section" style="background-color: {{ section_bg('blog_index_snippet') }};">
    <div class="container">
        <div class="notification" style="background-color: {{ section_bg('blog_index_snippet') }};">
            <div class="notification has-text-centered" style="background-color: {{ section_bg('blog_index_snippet') }};">
                <br>
                <p class="has-text-centered">
                    <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 20px; border-radius: 50%;">
                        ✏️
                    </span>
                </p><br>
                <p class="title"><a href="#blog" class="no-link-dec">Blog Posts</a></p>
                <p class="subtitle">Personal Diary & Reflections</p>
            </div>
        </div>
        <div class="writings notification" style="background-color: {{ section_bg('blog_index_snippet') }};">
            {% for post in blog_posts %}
                <span class="url p-0">{{ str(post.num).zfill(2) }}. <a href="{{ post.url }}">{{ post.title }}</a></span>
            {% endfor %}
            <br>
            <a href="{{ path }}blog" class="button is-success" style="color: white; text-decoration: none;">Read more posts</a>
        </div>
    </div>
</div>
