<div class="section section--alt" id="blog-section">
    <div class="container">
        <header class="sec-head sec-head--center">
            <span class="sec-kicker">Blog</span>
            <h2 class="sec-title">Personal diary &amp; reflections</h2>
        </header>

        <div class="container--narrow" style="margin: 0 auto;">
            <ul class="blog-list">
                {% for post in blog_posts %}
                <li>
                    <span class="num">{{ str(post.num).zfill(2) }}</span>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <a href="{{ path }}blog" class="btn btn--ghost btn--sm">Read more posts &rarr;</a>
        </div>
    </div>
</div>
