<div id="community" class="section" style="background-color: {{ section_bg('community') }};">
    <div class="container">
        <div class="notification" style="background-color: transparent;">
            <div class="notification has-text-centered" style="background-color: transparent;">
                <br>
                <p class="has-text-centered ">
                    <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 15px; border-radius: 50%;">
                        🙌
                    </span> 
                </p><br>
                <p class="title" ><a href="#community" class="no-link-dec">Community Engagement</a></p>
                <p class="subtitle">For the love of it</p>
            </div>
            <div class="p-6">
                {% for project in settings.community %}
                <p class="is-size-3">{{ project['initiative'] }}</p>
                <table class="table" style="background-color: transparent;">
                    <tbody>
                        <tr>
                            <td></td>
                            <td class="md-to-html">
                                {{ md_to_html(project['info']) | safe }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
    </div>
</div>