<div class="section has-background-success">
    <div class="container">
        <div class="notification is-white myshadow">
            Mail me: <b>arj.python at gmail.com</b> or find me on
            <br><br>
            <ul>
                <li>Codementor<br>
                    <a href="https://www.codementor.io/@abdurrahmaanj?refer=badge" target="_blank"><img src="https://www.codementor.io/m-badges/abdurrahmaanj/get-help.svg" alt="Codementor badge"></a>
                </li>
            </ul>
            <ul>
                <li>LinkedIn<br>
                    <a href="https://www.linkedin.com/in/appinv"><i class="fab fa-linkedin heartbeat smediaicon" style="color: green;"></i></a>
                </li>
            </ul>
            <ul>
                <li>Twitter<br>
                    <a href="https://twitter.com/osdotsystem"><i class="fab fa-twitter heartbeat smediaicon" style="color: green;"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>