
{% if not settings.book_generate %}
<div 
    id="gdpr-thing" 
    style="
        position: fixed; 
        bottom: 5px;
        left: 5px;
        width: 200px;
        z-index: 20;
        background: #fff;
        border-radius: 5px;
        padding: 5px;
        background-color: #f5ef85;
        "
    >
    By using this website, you agree to our <a href="{{path}}#privacy-policy">privacy policy</a> [ <a id="consent-button" href="#">Ok</a> ]
</div>
<script type="text/javascript">

    window.addEventListener('load', (event) => {
        if (localStorage.getItem('gdpr-accept')==='ok'){
            document.getElementById("gdpr-thing").style.display='none';
        }

      document.getElementById("consent-button").onclick = function() {

        document.getElementById("gdpr-thing").style.display='none';
        localStorage.setItem('gdpr-accept', 'ok');
      };
    });
</script>
{% endif %}