{% include "snippets/google_analytics.html" %}

{% include "snippets/seo_tags.html" %}
{% include "snippets/editorial_css.html" %}

<meta name="theme-color" content="#ffb74d" />
<link rel="icon" href="{{ path }}assets/COMP_ALC.png">

<!-- Performance Optimized Asset Loading -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="preconnect" href="https://emoji-css.afeld.me">

<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Raleway:wght@700&family=Special+Elite&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{ path }}style.css">
<link rel="stylesheet" type="text/css" href="{{ path }}bulma-timeline.min.css">

<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"></script>
<script type="text/javascript" src="{{ path }}js/jquery.js"></script>

{% include "snippets/swiper.html" %}
{% include "snippets/ms_clarity.html" %}

<style type="text/css">
    .hide_scroll::-webkit-scrollbar { display: none; }
    .hide_scroll { -ms-overflow-style: none; scrollbar-width: none; }
</style>

<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>