
<div id="gdpr-thing">
    By using this website, you agree to our <a href="#privacy-policy">privacy policy</a> [ <a id="consent-button" href="#">Ok</a> ]
</div>
<script type="text/javascript">

    window.addEventListener('load', (event) => {
        if (localStorage.getItem('gdpr-accept')==='ok'){
            document.getElementById("gdpr-thing").style.display='none';
        }

      document.getElementById("consent-button").onclick = function() {

        document.getElementById("gdpr-thing").style.display='none';
        localStorage.setItem('gdpr-accept', 'ok');
      };
    });
</script>
<div class="section has-background-info">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <div class="tile is-child notification card round-5">
                            <div class="card-content">
                                <!-- <div class="notification is-white">
                                    <p class="has-text-centered ">
                                        <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 20px; border-radius: 50%;">
                                            <i class="em em-handshake" aria-role="presentation" aria-label="HANDSHAKE"></i>
                                        </span>
                                    </p><br>
                                    <p class="title">Shining Lamp Club</p>
                                </div>
                                <div class="content has-text-centered">
                                    A café for developers about freelance and Python 'career' growth<br> <br>
                                    <div>
                                        <button class="button is-link" disabled>Enter</button>
                                    </div>
                                </div> -->
                                    <ul>
                                        <li><a href="#testimonials">Testimonials</a></li>
                                        <li><a href="#writings">Articles</a></li>
                                        <li><a href="#talks">Talks</a></li>
                                        <li><a href="#open-source">OpenSource</a></li>
                                        <li><a href="#facts">Cool facts</a></li>
                                        <li><a href="#community">Community engagements</a></li>
                                    </ul>
                                    <br>
                                    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'S6S2GDNC7');kofiwidget2.draw();</script> 
                            </div>
                        </div>
                        <div class="tile is-child notification card round-5">
                            <div class="card-content">
                                <div class="notification is-white">
                                    <p class="has-text-centered ">
                                        <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 20px; border-radius: 50%;">
                                            <i class="em em-coffee" aria-role="presentation" aria-label="HOT BEVERAGE"></i>
                                        </span>
                                    </p><br>
                                    <p class="title">{{ settings.podcast['title'] }}</p>
                                </div>
                                <div class="content has-text-centered">
                                    {{ settings.podcast['tagline'] }}<br> <br>
                                    <div>
                                        <button class="button is-link"><a href='/alfa-podcast'>Listen</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child notification card round-5">
                            <div class="card-content">
                                <div class="notification is-white">
                                    <p class="has-text-centered ">
                                        <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 20px; border-radius: 50%;">
                                            <i class="em em-rocket" aria-role="presentation" aria-label="ROCKET"></i>
                                        </span>
                                    </p><br>
                                    <p class="title">About</p>
                                    <p class="subtitle">What do i do?</p>
                                </div>
                                <div class="content">
                                    I am an independent software developer in Mauritius (GMT+4). I work for my own account. I like to help people solve their challenges using softwares ^^. I am also an organising member of the <a href="https://pymug.com">Python Usergroup of Mauritius (PyMUG)</a><br><br>
                                    My primary language is ... Python<br><br>
                                    Besides English, i speak
                                    <ul>
                                        <li>
                                            <i class="em em-fr" aria-role="presentation" aria-label="France Flag"></i> French
                                        </li>
                                        <li>
                                            <i class="em em-flag-sa" aria-role="presentation" aria-label="Saudi Arabia Flag"></i> Arabic
                                        </li>
                                    </ul>
                                    <br>
                                    I have experience in remote/long-distance work. <br><br>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-white">
                        <div class="columns">
                            <div class="column has-text-centered">
                                <br>
                                <div class="notification is-white">
                                    <p class="has-text-centered ">
                                        <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 20px; border-radius: 50%;">
                                            <i class="em em-abacus" aria-role="presentation" aria-label="ABACUS"></i>
                                        </span>
                                    </p><br>
                                    <p class="title">Our Mission</p>
                                    <p class="subtitle">Along with you ~</p>
                                </div>
                            </div>
                            <div class="column">
                                I make it a point to develop easy to use products. Softwares can save you a lot of pain, yes mail me: <b>arj.python at gmail.com</b> to have a chat! We also invest heavily in programming education, hoping for a brighter future.
                                <br><br><a href="https://www.codementor.io/@abdurrahmaanj?refer=badge" target="_blank"><img src="https://www.codementor.io/m-badges/abdurrahmaanj/get-help.svg" alt="Codementor badge"></a><a href="https://www.linkedin.com/in/appinv"><i class="fab fa-linkedin heartbeat smediaicon" style="color: green;"></i></a><a href="https://twitter.com/osdotsystem"><i class="fab fa-twitter heartbeat smediaicon" style="color: green;"></i></a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-white">
                    <div class="notification is-white">
                        <br>
                        <p class="has-text-centered ">
                            <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 15px; border-radius: 50%;"><i class="em em-fire" aria-role="presentation" aria-label="FIRE"></i></span>
                        </p><br>
                        <p class="title">In The News</p>
                        <p class="subtitle">Notes about <a href="https://www.twitter.com/osdotsystem">@osdotsystem</a></p>
                    </div>
                    <div class="content" id="news-section">
                        <div class="content tweetcontain">
                            <!-- Content -->
                            <blockquote class="twitter-tweet" data-dnt="true">
                                <p lang="en" dir="ltr"><a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a> from Mauritius will be giving a talk about <br>Shopyo: Your Mega Flask Machine<br><br>Get your tickets now at <a href="https://t.co/NsWMvcyj4U">https://t.co/NsWMvcyj4U</a><br><br>PyCon APAC 2021 Our Python. Our Future<a href="https://twitter.com/hashtag/pyconapac2021?src=hash&amp;ref_src=twsrc%5Etfw">#pyconapac2021</a> <a href="https://twitter.com/hashtag/pyconth?src=hash&amp;ref_src=twsrc%5Etfw">#pyconth</a> <a href="https://t.co/56Fct3diU1">pic.twitter.com/56Fct3diU1</a></p>&mdash; PyCon Thailand (@pyconthailand) <a href="https://twitter.com/pyconthailand/status/1459332722124595205?ref_src=twsrc%5Etfw">November 13, 2021</a>
                            </blockquote>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            <blockquote class="twitter-tweet">
                                <p lang="en" dir="ltr">🟢 ❝Shopyo: Your Mega Flask Machine❞ <br><br> 🐼 🐍 Register: <a href="https://t.co/dzmHoEL3to">https://t.co/dzmHoEL3to</a><br>by <a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a>, Founder Compiler Alchemy<a href="https://twitter.com/hashtag/Conf42?src=hash&amp;ref_src=twsrc%5Etfw">#Conf42</a> <a href="https://twitter.com/hashtag/Python?src=hash&amp;ref_src=twsrc%5Etfw">#Python</a> 2021 <a href="https://t.co/2Xo6YTyBme">pic.twitter.com/2Xo6YTyBme</a></p>&mdash; Conf42 (@conf42com) <a href="https://twitter.com/conf42com/status/1390565038998622210?ref_src=twsrc%5Etfw">May 7, 2021</a>
                            </blockquote>
                            <blockquote class="twitter-tweet" data-dnt="true">
                                <p lang="en" dir="ltr">Speaker Name: Abdur-Rahmaan Janhangeer<br>Speaker Title: Independent Software Developer (Python)<br>He&#39;s also a PyMUG organizing member (Python Mauritius)<br><br>Event Title: &quot;Why opensource and why we should care?&quot;<br>Date: 26 Aug 2021<br>Time: 18:30 Mauritius Time <a href="https://t.co/bwKdrF7xrW">https://t.co/bwKdrF7xrW</a></p>&mdash; OSCA Mauritius (@OSCAMauritius) <a href="https://twitter.com/OSCAMauritius/status/1429631332339134469?ref_src=twsrc%5Etfw">August 23, 2021</a>
                            </blockquote>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            <blockquote class="twitter-tweet">
                                <p lang="en" dir="ltr">We&#39;re excited for you to and cannot wait to see how you&#39;ll grow as a mentor and developer!</p>&mdash; Codementor (@CodementorIO) <a href="https://twitter.com/CodementorIO/status/1374561517417361408?ref_src=twsrc%5Etfw">March 24, 2021</a>
                            </blockquote>
                            <blockquote class="twitter-tweet">
                                <p lang="en" dir="ltr">The Zen Of Python: A Most In Depth Article <a href="https://t.co/fVsG9pUjqG">https://t.co/fVsG9pUjqG</a></p>&mdash; PyCoder’s Weekly (@pycoders) <a href="https://twitter.com/pycoders/status/1343668800554729473?ref_src=twsrc%5Etfw">December 28, 2020</a>
                            </blockquote>
                            <blockquote class="twitter-tweet">
                                <p lang="en" dir="ltr">&quot;The Zen of Python: As Related by Masters&quot; by <a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a> <a href="https://t.co/fIuqSrlDtK">https://t.co/fIuqSrlDtK</a> <a href="https://twitter.com/hashtag/zen?src=hash&amp;ref_src=twsrc%5Etfw">#zen</a> <a href="https://twitter.com/hashtag/python?src=hash&amp;ref_src=twsrc%5Etfw">#python</a></p>&mdash; HackerNoon (@hackernoon) <a href="https://twitter.com/hackernoon/status/1313363388953657346?ref_src=twsrc%5Etfw">October 6, 2020</a>
                            </blockquote>
                            <blockquote class="twitter-tweet">
                                <p lang="en" dir="ltr">It&#39;s really cool that <a href="https://twitter.com/europython?ref_src=twsrc%5Etfw">@europython</a> highlighted my talk on <a href="https://twitter.com/ThePracticalDev?ref_src=twsrc%5Etfw">@ThePracticalDev</a> <br><br>🍃❤💯👍🎉<a href="https://t.co/O8HvlKQMvu">https://t.co/O8HvlKQMvu</a></p>&mdash; Abdur-Rahmaan 🇲🇺 Janhangeer (@osdotsystem) <a href="https://twitter.com/osdotsystem/status/1313489262969585665?ref_src=twsrc%5Etfw">October 6, 2020</a>
                            </blockquote>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            <blockquote class="twitter-tweet">
                                <p lang="en" dir="ltr">Python developer <a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a> will be presenting at the Developers Conference 2020! Come join him! To learn more about the sessions: <a href="https://t.co/86TpjPIMS1">https://t.co/86TpjPIMS1</a><a href="https://twitter.com/hashtag/devconmu?src=hash&<p></p>amp;ref_src=twsrc%5Etfw">#devconmu</a> <a href="https://twitter.com/hashtag/developers?src=hash&amp;ref_src=twsrc%5Etfw">#developers</a> <a href="https://twitter.com/hashtag/conference?src=hash&amp;ref_src=twsrc%5Etfw">#conference</a> <a href="https://twitter.com/hashtag/mauritius?src=hash&amp;ref_src=twsrc%5Etfw">#mauritius</a> <a href="https://t.co/hw3rxaPlpW">pic.twitter.com/hw3rxaPlpW</a></p>&mdash; MSCC (@MSCraftsman) <a href="https://twitter.com/MSCraftsman/status/1237377669324591104?ref_src=twsrc%5Etfw">March 10, 2020</a>
                            </blockquote>
                            <blockquote class="twitter-tweet" data-dnt="true">
                                <p lang="en" dir="ltr">Legally Free Python Books List is a great collection of books that you can get your hands on no payment required. But note that these books are available at the moment, so you might want to hurry! <a href="https://t.co/J247bljJuX">https://t.co/J247bljJuX</a></p>&mdash; CheckiO (@PlayCheckiO) <a href="https://twitter.com/PlayCheckiO/status/1222928686686638081?ref_src=twsrc%5Etfw">January 30, 2020</a>
                            </blockquote>
                            <blockquote class="twitter-tweet">
                                <p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/showdevHow?src=hash&amp;ref_src=twsrc%5Etfw">#showdevHow</a> to build a CSS pre-processor (like SASS) from scratch <a href="https://t.co/2xbliza19V">https://t.co/2xbliza19V</a> by <a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a></p>&mdash; Python LibHunt (@PythonLibHunt) <a href="https://twitter.com/PythonLibHunt/status/1152550513033936898?ref_src=twsrc%5Etfw">July 20, 2019</a>
                            </blockquote>
                            <blockquote class="twitter-tweet">
                                <p lang="en" dir="ltr">Awesome <a href="https://twitter.com/hashtag/Python?src=hash&amp;ref_src=twsrc%5Etfw">#Python</a> Weekly #165 is out <a href="https://t.co/dx2oMpPstx">https://t.co/dx2oMpPstx</a><br>Featuring <a href="https://twitter.com/javinpaul?ref_src=twsrc%5Etfw">@javinpaul</a> <a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a> <a href="https://twitter.com/Cassieview?ref_src=twsrc%5Etfw">@Cassieview</a> <a href="https://twitter.com/sol_prog?ref_src=twsrc%5Etfw">@sol_prog</a> <a href="https://twitter.com/b33ts?ref_src=twsrc%5Etfw">@b33ts</a></p>&mdash; Python LibHunt (@PythonLibHunt) <a href="https://twitter.com/PythonLibHunt/status/1154559572327092225?ref_src=twsrc%5Etfw">July 26, 2019</a>
                            </blockquote>
                            <blockquote class="twitter-tweet">
                                <p lang="en" dir="ltr">This week I chatted with Abdur-Rahmaan Janhangeer as our PyDev of the Week, translator of the French version of Think Python - <a href="https://t.co/MKgLovGSVr">https://t.co/MKgLovGSVr</a> <a href="https://twitter.com/hashtag/Python?src=hash&amp;ref_src=twsrc%5Etfw">#Python</a></p>&mdash; Mike Driscoll (@driscollis) <a href="https://twitter.com/driscollis/status/1115241860329607168?ref_src=twsrc%5Etfw">April 8, 2019</a>
                            </blockquote>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>