<div class="section has-background-white">
    <div class="container">
        <div class="notification is-white">
            <div class="notification is-white has-text-centered">
                <br>
                <p class="has-text-centered ">
                    <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 15px; border-radius: 50%;">
                        <i class="em em-pancakes" aria-role="presentation" aria-label="PANCAKES"></i>
                    </span>
                </p><br>
                <p class="title">Services</p>
                <p class="subtitle">What is there on the menu?</p>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-centered">
                        <p class="title"><i class="fab fa-python servicesicon" style="color: #CD5C5C"></i></p>
                        <p class="subtitle"><b>Python Developement</b></p>
                        <hr>
                        <p>Since our language of choice is Python, we offer development services from scripts to libraries and everything in between</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-centered">
                        <p class="title"><i class="fas fa-database servicesicon" style="color: rgb(165, 100, 175);"></i></p>
                        <p class="subtitle"><b>Web Development</b></p>
                        <hr>
                        <p>
                            Your back-end need to integrate and combine complicated schemes? You are at the right pot!
                        </p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-centered">
                        <p class="title"><i class="fas fa-desktop servicesicon" style="color: rgb(245, 85, 10);"></i></p>
                        <p class="subtitle"><b>Desktop Development</b></p>
                        <hr>
                        <p>
                            Submerged by files or manual setups? A dedicated software can help you be more productive
                        </p>
                    </article>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-centered">
                        <p class="title"><i class="fas fa-cloud servicesicon" style="color: rgb(0, 110, 215);"></i></p>
                        <p class="subtitle"><b>IoT</b></p>
                        <hr>
                        <p>Helping you with cloud infrastructures and realtime data</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-centered">
                        <p class="title"><i class="fas fa-spider servicesicon" style="color: rgb(255, 0, 0);"></i></p>
                        <p class="subtitle"><b>Web Scraping</b></p>
                        <hr>
                        <p>
                            You need to organise a wide hunt or just automation, we can put your scraping job on auto-pilot
                        </p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-centered">
                        <p class="title"><i class="fas fa-dice-d20 servicesicon" style="color: rgb(75, 165, 255);"></i></p>
                        <p class="subtitle"><b>Data Science & Machine Learning</b></p>
                        <hr>
                        <p>
                            Helping you with huge amounts of data and applying the proper ML algorithm including NLP
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>