<div id="privacy-policy" class="section">
  <div class="container"><br><br>
    <div class="has-text-centered">
      <p class="has-text-centered">
        <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 20px; border-radius: 50%;">
          <i class="em em-broom" aria-role="presentation" aria-label="BROOM"></i>
        </span>
      </p><br>
      <p class="title" ><a href="#privacy-policy" class="no-link-dec">Privacy Policy</a></p>
      <p class="subtitle">What we do </p>
    </div>
    <div class="">
      <div class="container notification is-white">
        
We use Google analytics, MS clarity, embed Tweets. By using this
            website you aree to all nasty prying eyes that it may enytail.
      </div>
    </div>
  </div>
</div>


             