<div class="section" id="projects">
  <div class="container">
    <div class="notification is-white">
      <div class="notification is-white has-text-centered">
        <br>
        <p class="has-text-centered ">
          <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 15px; border-radius: 50%;">
            <i class="em em-building_construction" aria-role="presentation" aria-label=""></i>
          </span>
        </p><br>
        <p class="title" id="open-source"><a href="#open-source" class="no-link-dec">OpenSource Projects</a></p>
        <p class="subtitle">Some fun, some serious</p>
      </div>
    </div>
    <div class="is-white">
      <table class="table">
        <thead>
          <tr>
            <th>Project</th>
            <th>Info</th>
            <th>Links</th>
            <th></th>
          </tr>
        </thead>
        {% for project in settings.github_projects %}
          <tr>
            <td><a href="{{ project['main_link'] }}">{{ project['name'] }}</a></td>
            <td>{{ md_to_html(project['info']) | safe }}</td>
            <td>
              {% for key in project['links'] %}
                {% set link = project['links'][key] %}
                <div class="control">
                  <div class="tags has-addons">
                    <a class="tag is-link" href="{{ link }}" target="_blank">{{ key.capitalize() }}</a>

                  </div>
                </div>
              {% endfor %}
            </td>
            <td>
              {% if 'quality' in project['features'] %}
                <span class="tag is-success">
                  quality
                  <button class="delete is-small"></button>
                </span>
              {% endif %}
              {% if 'stale' in project['features'] %}
                <span class="tag is-danger">
                  stale
                  <button class="delete is-small"></button>
                </span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>