<div class="section" id="talks" style="background-color: #fffff5;">
    <div class="container">
        <div class="notification" style="background-color: #fffff5;">
            <div class="notification has-text-centered"  style="background-color: #fffff5;">
                <br>
                <p class="has-text-centered ">
                    <span class="title  has-text-centered" style="width: 50px; height:50px; padding: 15px; border-radius: 50%;">
                        <i class="em em-spiral_note_pad" aria-role="presentation" aria-label=""></i>
                    </span>
                </p><br>
                <p class="title" id="talks"><a href="#talks" class="no-link-dec">Talks</a></p>
                <p class="subtitle">Meetups & Confs</p>
            </div>
        </div>
        <div class="writings is-white">
            <div>Spoken at EuroPython, PyCon Sweden, PyCon ZA, PyCon Thailand, FlaskCon, MSCC DevCon, Google DevFest, 
                Python Mauritius Usergroup, Association Francophone de Python, New Zealand Python User Group</div>
            <br>
            {%for talk in talks%}
            {%if loop.index <= 5%}
            <p class="is-size-4">{{ talk['title'] }}
                {%for res in talk['res']%}
                {% if res['type'] == 'video' %}
                    [<a href="{{res['url']}}">video</a>]
                    {% elif res['type'] == 'slides' %}
                    [<a href="{{res['url']}}">slides</a>]
                    {% elif res['type'] == 'repo' %}
                    [<a href="{{res['url']}}">repo</a>]
                {% endif %}
                {%endfor%}
            </p>
            <i>{{ talk['event'] }}</i><br>
            {{talk['description']}}
            <hr>
            {%endif%}
            {%endfor%}
            <br>
            <button class="button is-link "><a class="has-text-white" target="_blank" href="{{path}}talks">Older talks</a></button>
        </div>
    </div>
</div>
