<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161612035-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-161612035-1');
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function() {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/600547c5c31c9117cb6fac40/1esaa0ni2';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <title>web and software dev</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="software and web services">
    <meta name="keywords" content="HTML,CSS,JavaScript,Python,Java,C++,websites,software,code audits">
    <meta name="author" content="compileralchemy">
    <meta name="theme-color" content="#ffb74d" />
    <link rel="icon" href="COMP_ALC.png">
    <link rel="stylesheet" type="text/css" href="prototyp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <style type="text/css">
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    </style>
</head>

<body class="">
    <div class="section has-background-info">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <div class="tile is-child notification card round-5">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <i class="fa fa-desktop faicon"></i>
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <p class="title is-4"><b>Desktop <br>Software</b>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        I develop desktop apps/softwares. Businesses and organisations might need it for example
                                        to replace unmaintainable Excel systems or to fit a particular need such as a tailor-made
                                        accounting software to get cool reports<br>
                                    </div>
                                </div>
                            </div>
                            <div class="tile is-child notification card round-5">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <i class="fa fa-magic faicon"></i>
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <p class="title is-4"><b>Websites<br></b>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        I got the chance to develop multiple solutions: e-learning, exams, inventory ... Which means lots of client facing.
                                        If you want to quickly spin a website to help you, drop me a word! I normally deliver relatively fast. We also use websites the Odoo style for desktops
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child notification card round-5">
                                <div class="card-content">
                                    <div class="notification is-white">
                                        <p class="has-text-centered ">
                                            <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 20px; border-radius: 50%;">
                                                <i class="em em-rocket" aria-role="presentation" aria-label="ROCKET"></i>
                                            </span>
                                        </p><br>
                                        <p class="title">About</p>
                                        <p class="subtitle">What do i do?</p>
                                    </div>
                                    <div class="content">
                                        I am an independent software developer in Mauritius (GMT+4). I work for my own account. I like to help people solve their challenges using softwares ^^. I am also an organising member of the <a href="https://pymug.com">Python Usergroup of Mauritius (PyMUG)</a><br><br>
                                        My primary language is ... Python<br><br>
                                        Besides English, i speak
                                        <ul>
                                            <li>
                                                <i class="em em-fr" aria-role="presentation" aria-label="France Flag"></i> French
                                            </li>
                                            <li>
                                                <i class="em em-flag-sa" aria-role="presentation" aria-label="Saudi Arabia Flag"></i> Arabic
                                            </li>
                                        </ul>
                                        <br>
                                        I have experience in remote/long-distance work.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-white">
                            <div class="columns">
                                <div class="column has-text-centered">
                                    <br>
                                    <div class="notification is-white">
                                        <p class="has-text-centered ">
                                            <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 20px; border-radius: 50%;">
                                                <i class="em em-abacus" aria-role="presentation" aria-label="ABACUS"></i>
                                            </span>
                                        </p><br>
                                        <p class="title">Our Mission</p>
                                        <p class="subtitle">Along with you ~</p>
                                    </div>
                                </div>
                                <div class="column">
                                    I make it a point to develop easy to use products. Softwares can save you a lot of pain, yes mail me: <b>arj.python at gmail.com</b> to have a chat!<br><br>
                                    We also invest heavily in programming education, hoping for a brighter future
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-white">
                        <div class="notification is-white">
                            <br>
                            <p class="has-text-centered ">
                                <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 15px; border-radius: 50%;"><i class="em em-fire" aria-role="presentation" aria-label="FIRE"></i></span>
                            </p><br>
                            <p class="title">In The News</p>
                            <p class="subtitle">Notes about <a href="https://www.twitter.com/osdotsystem">@osdotsystem</a></p>
                        </div>
                        <div class="content" id="news-section">
                            <div class="content tweetcontain">
                                <!-- Content -->
                                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">🟢 ❝Shopyo: Your Mega Flask Machine❞ <br><br> 🐼 🐍 Register: <a href="https://t.co/dzmHoEL3to">https://t.co/dzmHoEL3to</a><br>by <a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a>, Founder Compiler Alchemy<a href="https://twitter.com/hashtag/Conf42?src=hash&amp;ref_src=twsrc%5Etfw">#Conf42</a> <a href="https://twitter.com/hashtag/Python?src=hash&amp;ref_src=twsrc%5Etfw">#Python</a> 2021 <a href="https://t.co/2Xo6YTyBme">pic.twitter.com/2Xo6YTyBme</a></p>&mdash; Conf42 (@conf42com) <a href="https://twitter.com/conf42com/status/1390565038998622210?ref_src=twsrc%5Etfw">May 7, 2021</a></blockquote>
                                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">We&#39;re excited for you to and cannot wait to see how you&#39;ll grow as a mentor and developer!</p>&mdash; Codementor (@CodementorIO) <a href="https://twitter.com/CodementorIO/status/1374561517417361408?ref_src=twsrc%5Etfw">March 24, 2021</a></blockquote>
                                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">The Zen Of Python: A Most In Depth Article <a href="https://t.co/fVsG9pUjqG">https://t.co/fVsG9pUjqG</a></p>&mdash; PyCoder’s Weekly (@pycoders) <a href="https://twitter.com/pycoders/status/1343668800554729473?ref_src=twsrc%5Etfw">December 28, 2020</a></blockquote>
                                <blockquote class="twitter-tweet">
                                    <p lang="en" dir="ltr">&quot;The Zen of Python: As Related by Masters&quot; by <a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a> <a href="https://t.co/fIuqSrlDtK">https://t.co/fIuqSrlDtK</a> <a href="https://twitter.com/hashtag/zen?src=hash&amp;ref_src=twsrc%5Etfw">#zen</a> <a href="https://twitter.com/hashtag/python?src=hash&amp;ref_src=twsrc%5Etfw">#python</a></p>&mdash; HackerNoon (@hackernoon) <a href="https://twitter.com/hackernoon/status/1313363388953657346?ref_src=twsrc%5Etfw">October 6, 2020</a>
                                </blockquote>
                                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">It&#39;s really cool that <a href="https://twitter.com/europython?ref_src=twsrc%5Etfw">@europython</a> highlighted my talk on <a href="https://twitter.com/ThePracticalDev?ref_src=twsrc%5Etfw">@ThePracticalDev</a> <br><br>🍃❤💯👍🎉<a href="https://t.co/O8HvlKQMvu">https://t.co/O8HvlKQMvu</a></p>&mdash; Abdur-Rahmaan 🇲🇺 Janhangeer (@osdotsystem) <a href="https://twitter.com/osdotsystem/status/1313489262969585665?ref_src=twsrc%5Etfw">October 6, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                <blockquote class="twitter-tweet">
                                    <p lang="en" dir="ltr">Python developer <a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a> will be presenting at the Developers Conference 2020! Come join him! To learn more about the sessions: <a href="https://t.co/86TpjPIMS1">https://t.co/86TpjPIMS1</a><a href="https://twitter.com/hashtag/devconmu?src=hash&amp;ref_src=twsrc%5Etfw">#devconmu</a> <a href="https://twitter.com/hashtag/developers?src=hash&amp;ref_src=twsrc%5Etfw">#developers</a> <a href="https://twitter.com/hashtag/conference?src=hash&amp;ref_src=twsrc%5Etfw">#conference</a> <a href="https://twitter.com/hashtag/mauritius?src=hash&amp;ref_src=twsrc%5Etfw">#mauritius</a> <a href="https://t.co/hw3rxaPlpW">pic.twitter.com/hw3rxaPlpW</a></p>&mdash; MSCC (@MSCraftsman) <a href="https://twitter.com/MSCraftsman/status/1237377669324591104?ref_src=twsrc%5Etfw">March 10, 2020</a>
                                </blockquote>
                                <blockquote class="twitter-tweet" data-dnt="true">
                                    <p lang="en" dir="ltr">Legally Free Python Books List is a great collection of books that you can get your hands on no payment required. But note that these books are available at the moment, so you might want to hurry! <a href="https://t.co/J247bljJuX">https://t.co/J247bljJuX</a></p>&mdash; CheckiO (@PlayCheckiO) <a href="https://twitter.com/PlayCheckiO/status/1222928686686638081?ref_src=twsrc%5Etfw">January 30, 2020</a>
                                </blockquote>
                                <blockquote class="twitter-tweet">
                                    <p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/showdevHow?src=hash&amp;ref_src=twsrc%5Etfw">#showdevHow</a> to build a CSS pre-processor (like SASS) from scratch <a href="https://t.co/2xbliza19V">https://t.co/2xbliza19V</a> by <a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a></p>&mdash; Python LibHunt (@PythonLibHunt) <a href="https://twitter.com/PythonLibHunt/status/1152550513033936898?ref_src=twsrc%5Etfw">July 20, 2019</a>
                                </blockquote>
                                <blockquote class="twitter-tweet">
                                    <p lang="en" dir="ltr">Awesome <a href="https://twitter.com/hashtag/Python?src=hash&amp;ref_src=twsrc%5Etfw">#Python</a> Weekly #165 is out <a href="https://t.co/dx2oMpPstx">https://t.co/dx2oMpPstx</a><br>Featuring <a href="https://twitter.com/javinpaul?ref_src=twsrc%5Etfw">@javinpaul</a> <a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a> <a href="https://twitter.com/Cassieview?ref_src=twsrc%5Etfw">@Cassieview</a> <a href="https://twitter.com/sol_prog?ref_src=twsrc%5Etfw">@sol_prog</a> <a href="https://twitter.com/b33ts?ref_src=twsrc%5Etfw">@b33ts</a></p>&mdash; Python LibHunt (@PythonLibHunt) <a href="https://twitter.com/PythonLibHunt/status/1154559572327092225?ref_src=twsrc%5Etfw">July 26, 2019</a>
                                </blockquote>
                                <blockquote class="twitter-tweet">
                                    <p lang="en" dir="ltr">This week I chatted with Abdur-Rahmaan Janhangeer as our PyDev of the Week, translator of the French version of Think Python - <a href="https://t.co/MKgLovGSVr">https://t.co/MKgLovGSVr</a> <a href="https://twitter.com/hashtag/Python?src=hash&amp;ref_src=twsrc%5Etfw">#Python</a></p>&mdash; Mike Driscoll (@driscollis) <a href="https://twitter.com/driscollis/status/1115241860329607168?ref_src=twsrc%5Etfw">April 8, 2019</a>
                                </blockquote>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    {% include 'sections/testimonials.html' %} 
    <div class="section has-background-white">
        <div class="container">
            <div class="notification is-white">
                <div class="notification is-white has-text-centered">
                    <br>
                    <p class="has-text-centered ">
                        <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 15px; border-radius: 50%;">
                            <i class="em em-pancakes" aria-role="presentation" aria-label="PANCAKES"></i>
                        </span>
                    </p><br>
                    <p class="title">Services</p>
                    <p class="subtitle">What is there on the menu?</p>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child box has-text-centered">
                            <p class="title"><i class="fab fa-python servicesicon" style="color: #CD5C5C"></i></p>
                            <p class="subtitle"><b>Python Developement</b></p>
                            <hr>
                            <p>Since our language of choice is Python, we offer development services from scripts to libraries and everything in between</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box has-text-centered">
                            <p class="title"><i class="fas fa-database servicesicon" style="color: rgb(165, 100, 175);"></i></p>
                            <p class="subtitle"><b>Web Development</b></p>
                            <hr>
                            <p>
                                Your back-end need to integrate and combine complicated schemes? You are at the right pot!
                            </p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box has-text-centered">
                            <p class="title"><i class="fas fa-desktop servicesicon" style="color: rgb(245, 85, 10);"></i></p>
                            <p class="subtitle"><b>Desktop Development</b></p>
                            <hr>
                            <p>
                                Submerged by files or manual setups? A dedicated software can help you be more productive
                            </p>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child box has-text-centered">
                            <p class="title"><i class="fas fa-cloud servicesicon" style="color: rgb(0, 110, 215);"></i></p>
                            <p class="subtitle"><b>IoT</b></p>
                            <hr>
                            <p>Helping you with cloud infrastructures and realtime data</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box has-text-centered">
                            <p class="title"><i class="fas fa-spider servicesicon" style="color: rgb(255, 0, 0);"></i></p>
                            <p class="subtitle"><b>Web Scraping</b></p>
                            <hr>
                            <p>
                                You need to organise a wide hunt or just automation, we can put your scraping job on auto-pilot
                            </p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box has-text-centered">
                            <p class="title"><i class="fas fa-dice-d20 servicesicon" style="color: rgb(75, 165, 255);"></i></p>
                            <p class="subtitle"><b>Data Science & Machine Learning</b></p>
                            <hr>
                            <p>
                                Helping you with huge amounts of data and applying the proper ML algorithm including NLP
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section has-background-success">
        <div class="container">
            <div class="notification is-white myshadow">
                Mail me: <b>arj.python at gmail.com</b> or find me on
                <br><br>
                <ul>
                    <li>Codementor<br>
                         <a href="https://www.codementor.io/@abdurrahmaanj?refer=badge" target="_blank"><img src="https://www.codementor.io/m-badges/abdurrahmaanj/get-help.svg" alt="Codementor badge"></a>
                    </li>
                </ul>
                <ul>
                    <li>LinkedIn<br>
                        <a href="https://www.linkedin.com/in/appinv"><i class="fab fa-linkedin heartbeat smediaicon" style="color: green;"></i></a>
                    </li>
                </ul>
                <ul>
                    <li>Twitter<br>
                        <a href="https://twitter.com/osdotsystem"><i class="fab fa-twitter heartbeat smediaicon" style="color: green;"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    {%include 'sections/writings.html'%}
    {%include 'sections/talks.html'%}
    {%include 'sections/facts.html'%}
    {%include 'sections/projects.html'%}
    
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Generated using <a href="https://pypi.org/project/jamstack">the jamstack package on pypi</a>
        </p>
      </div>
    </footer>
</body>

</html>