<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161612035-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-161612035-1');
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function() {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/600547c5c31c9117cb6fac40/1esaa0ni2';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <title>web and software dev</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="software and web services">
    <meta name="keywords" content="HTML,CSS,JavaScript,Python,Java,C++,websites,software,code audits">
    <meta name="author" content="compileralchemy">
    <meta name="theme-color" content="#ffb74d" />
    <link rel="icon" href="COMP_ALC.png">
    <link rel="stylesheet" type="text/css" href="prototyp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <style type="text/css">
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    </style>
</head>

<body class="">
    <div class="section has-background-info">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <div class="tile is-child notification card round-5">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <i class="fa fa-desktop faicon"></i>
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <p class="title is-4"><b>Desktop <br>Software</b>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        I develop desktop apps/softwares. Businesses and organisations might need it for example
                                        to replace unmaintainable Excel systems or to fit a particular need such as a tailor-made
                                        accounting software to get cool reports<br>
                                    </div>
                                </div>
                            </div>
                            <div class="tile is-child notification card round-5">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <i class="fa fa-magic faicon"></i>
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <p class="title is-4"><b>Websites<br></b>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        I got the chance to develop multiple management solutions: e-learning, exams, inventory ...
                                        If you want to quickly spin a website to help you, drop me a word! I normally deliver relatively fast. We also use websites the Odoo style for desktops.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child notification card round-5">
                                <div class="card-content">
                                    <div class="notification is-white">
                                        <p class="has-text-centered ">
                                            <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 20px; border-radius: 50%;">
                                                <i class="em em-rocket" aria-role="presentation" aria-label="ROCKET"></i>
                                            </span>
                                        </p><br>
                                        <p class="title">About</p>
                                        <p class="subtitle">What do i do?</p>
                                    </div>
                                    <div class="content">
                                        I am an independent software developer in Mauritius (GMT+4). I work for my own account. I like to help people solve their challenges using softwares ^^. I am also an organising member of the <a href="https://pymug.com">Python Usergroup of Mauritius (PyMUG)</a><br><br>
                                        My primary language is ... Python<br><br>
                                        Besides English, i speak
                                        <ul>
                                            <li>
                                                <i class="em em-fr" aria-role="presentation" aria-label="France Flag"></i> French
                                            </li>
                                            <li>
                                                <i class="em em-flag-sa" aria-role="presentation" aria-label="Saudi Arabia Flag"></i> Arabic
                                            </li>
                                        </ul>
                                        <br>
                                        I have experience in remote/long-distance work.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-white">
                            <div class="columns">
                                <div class="column has-text-centered">
                                    <br>
                                    <div class="notification is-white">
                                        <p class="has-text-centered ">
                                            <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 20px; border-radius: 50%;">
                                                <i class="em em-abacus" aria-role="presentation" aria-label="ABACUS"></i>
                                            </span>
                                        </p><br>
                                        <p class="title">Our Mission</p>
                                        <p class="subtitle">Along with you ~</p>
                                    </div>
                                </div>
                                <div class="column">
                                    I make it a point to develop easy to use products. I can say many of our customers complimented the way we built our interface. Softwares can save you a lot of pain, yes mail me: <b>arj.python at gmail.com</b> to have a chat!<br><br>
                                    We also invest heavily in programming education, hoping for a brighter future
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-white">
                        <div class="notification is-white">
                            <br>
                            <p class="has-text-centered ">
                                <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 15px; border-radius: 50%;"><i class="em em-fire" aria-role="presentation" aria-label="FIRE"></i></span>
                            </p><br>
                            <p class="title">In The News</p>
                            <p class="subtitle">What people say about Abdur-Rahmaan Janhangeer <a href="https://www.twitter.com/osdotsystem">@osdotsystem</a>?</p>
                        </div>
                        <div class="content" id="news-section">
                            <div class="content tweetcontain">
                                <!-- Content -->
                                <blockquote class="twitter-tweet">
                                    <p lang="en" dir="ltr">&quot;The Zen of Python: As Related by Masters&quot; by <a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a> <a href="https://t.co/fIuqSrlDtK">https://t.co/fIuqSrlDtK</a> <a href="https://twitter.com/hashtag/zen?src=hash&amp;ref_src=twsrc%5Etfw">#zen</a> <a href="https://twitter.com/hashtag/python?src=hash&amp;ref_src=twsrc%5Etfw">#python</a></p>&mdash; HackerNoon (@hackernoon) <a href="https://twitter.com/hackernoon/status/1313363388953657346?ref_src=twsrc%5Etfw">October 6, 2020</a>
                                </blockquote>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                <blockquote class="twitter-tweet">
                                    <p lang="en" dir="ltr">Python developer <a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a> will be presenting at the Developers Conference 2020! Come join him! To learn more about the sessions: <a href="https://t.co/86TpjPIMS1">https://t.co/86TpjPIMS1</a><a href="https://twitter.com/hashtag/devconmu?src=hash&amp;ref_src=twsrc%5Etfw">#devconmu</a> <a href="https://twitter.com/hashtag/developers?src=hash&amp;ref_src=twsrc%5Etfw">#developers</a> <a href="https://twitter.com/hashtag/conference?src=hash&amp;ref_src=twsrc%5Etfw">#conference</a> <a href="https://twitter.com/hashtag/mauritius?src=hash&amp;ref_src=twsrc%5Etfw">#mauritius</a> <a href="https://t.co/hw3rxaPlpW">pic.twitter.com/hw3rxaPlpW</a></p>&mdash; MSCC (@MSCraftsman) <a href="https://twitter.com/MSCraftsman/status/1237377669324591104?ref_src=twsrc%5Etfw">March 10, 2020</a>
                                </blockquote>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                <blockquote class="twitter-tweet" data-dnt="true">
                                    <p lang="en" dir="ltr">Legally Free Python Books List is a great collection of books that you can get your hands on no payment required. But note that these books are available at the moment, so you might want to hurry! <a href="https://t.co/J247bljJuX">https://t.co/J247bljJuX</a></p>&mdash; CheckiO (@PlayCheckiO) <a href="https://twitter.com/PlayCheckiO/status/1222928686686638081?ref_src=twsrc%5Etfw">January 30, 2020</a>
                                </blockquote>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                <blockquote class="twitter-tweet">
                                    <p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/showdevHow?src=hash&amp;ref_src=twsrc%5Etfw">#showdevHow</a> to build a CSS pre-processor (like SASS) from scratch <a href="https://t.co/2xbliza19V">https://t.co/2xbliza19V</a> by <a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a></p>&mdash; Python LibHunt (@PythonLibHunt) <a href="https://twitter.com/PythonLibHunt/status/1152550513033936898?ref_src=twsrc%5Etfw">July 20, 2019</a>
                                </blockquote>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                <blockquote class="twitter-tweet">
                                    <p lang="en" dir="ltr">Awesome <a href="https://twitter.com/hashtag/Python?src=hash&amp;ref_src=twsrc%5Etfw">#Python</a> Weekly #165 is out <a href="https://t.co/dx2oMpPstx">https://t.co/dx2oMpPstx</a><br>Featuring <a href="https://twitter.com/javinpaul?ref_src=twsrc%5Etfw">@javinpaul</a> <a href="https://twitter.com/osdotsystem?ref_src=twsrc%5Etfw">@osdotsystem</a> <a href="https://twitter.com/Cassieview?ref_src=twsrc%5Etfw">@Cassieview</a> <a href="https://twitter.com/sol_prog?ref_src=twsrc%5Etfw">@sol_prog</a> <a href="https://twitter.com/b33ts?ref_src=twsrc%5Etfw">@b33ts</a></p>&mdash; Python LibHunt (@PythonLibHunt) <a href="https://twitter.com/PythonLibHunt/status/1154559572327092225?ref_src=twsrc%5Etfw">July 26, 2019</a>
                                </blockquote>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                <blockquote class="twitter-tweet">
                                    <p lang="en" dir="ltr">This week I chatted with Abdur-Rahmaan Janhangeer as our PyDev of the Week, translator of the French version of Think Python - <a href="https://t.co/MKgLovGSVr">https://t.co/MKgLovGSVr</a> <a href="https://twitter.com/hashtag/Python?src=hash&amp;ref_src=twsrc%5Etfw">#Python</a></p>&mdash; Mike Driscoll (@driscollis) <a href="https://twitter.com/driscollis/status/1115241860329607168?ref_src=twsrc%5Etfw">April 8, 2019</a>
                                </blockquote>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    {% include 'sections/testimonials.html' %} 
    <div class="section has-background-white">
        <div class="container">
            <div class="notification is-white">
                <div class="notification is-white has-text-centered">
                    <br>
                    <p class="has-text-centered ">
                        <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 15px; border-radius: 50%;">
                            <i class="em em-pancakes" aria-role="presentation" aria-label="PANCAKES"></i>
                        </span>
                    </p><br>
                    <p class="title">Services</p>
                    <p class="subtitle">What is there on the menu?</p>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child box has-text-centered">
                            <p class="title"><i class="fab fa-python servicesicon" style="color: #CD5C5C"></i></p>
                            <p class="subtitle"><b>Python Developement</b></p>
                            <hr>
                            <p>Since our language of choice is Python, we offer development services from scripts to libraries and everything in between</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box has-text-centered">
                            <p class="title"><i class="fas fa-database servicesicon" style="color: rgb(165, 100, 175);"></i></p>
                            <p class="subtitle"><b>Web Development</b></p>
                            <hr>
                            <p>
                                Your back-end need to integrate and combine complicated schemes? You are at the right pot!
                            </p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box has-text-centered">
                            <p class="title"><i class="fas fa-desktop servicesicon" style="color: rgb(245, 85, 10);"></i></p>
                            <p class="subtitle"><b>Desktop Development</b></p>
                            <hr>
                            <p>
                                Submerged by files or manual setups? A dedicated software can help you be more productive
                            </p>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child box has-text-centered">
                            <p class="title"><i class="fas fa-cloud servicesicon" style="color: rgb(0, 110, 215);"></i></p>
                            <p class="subtitle"><b>IoT</b></p>
                            <hr>
                            <p>Helping you with cloud infrastructures and realtime data</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box has-text-centered">
                            <p class="title"><i class="fas fa-spider servicesicon" style="color: rgb(255, 0, 0);"></i></p>
                            <p class="subtitle"><b>Web Scraping</b></p>
                            <hr>
                            <p>
                                You need to organise a wide hunt or just automation, we can put your scraping job on auto-pilot
                            </p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box has-text-centered">
                            <p class="title"><i class="fas fa-dice-d20 servicesicon" style="color: rgb(75, 165, 255);"></i></p>
                            <p class="subtitle"><b>Data Science & Machine Learning</b></p>
                            <hr>
                            <p>
                                Helping you with huge amounts of data and applying the proper ML algorithm including NLP
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section has-background-success">
        <div class="container">
            <div class="notification is-white myshadow">
                Mail me: <b>arj.python at gmail.com</b> or find me on
                <br><br>
                <ul>
                    <li>LinkedIn<br>
                        <a href="https://www.linkedin.com/in/appinv"><i class="fab fa-linkedin heartbeat smediaicon" style="color: green;"></i></a>
                    </li>
                </ul>
                <ul>
                    <li>Twitter<br>
                        <a href="https://twitter.com/osdotsystem"><i class="fab fa-twitter heartbeat smediaicon" style="color: green;"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {%include 'sections/writings.html'%}
    {%include 'sections/talks.html'%}
    <div class="section">
        <div class="container"><br><br>
            <div class="has-text-centered">
                <p class="has-text-centered">
                    <span class="title has-background-white-ter  has-text-centered" style="width: 50px; height:50px; padding: 20px; border-radius: 50%;">
                        <i class="em em-tada" aria-role="presentation" aria-label="PARTY POPPER"></i>
                    </span>
                </p><br>
                <p class="title">Fun Facts</p>
                <p class="subtitle">Some cool info about <a href="https://www.twitter.com/osdotsystem">
                        @osdotsystem
                    </a></p>
            </div>
            <div class="">
                <div class="container notification is-white">
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">April 19</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://www.blog.pythonlibrary.org/2019/04/08/pydev-of-the-week-abdur-rahmaan-janhangeer/">PyDev Of The Week</a>
                                </span><br>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">July 2019</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://lwn.net/Articles/794273/">LWN.net</a>
                                </span><br>
                                <span>Discussion on the idea i proposed</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">July 2019</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://twitter.com/TechRunEn/status/1153457206928347136?s=20">
                                        Article Featured On <i class="fab fa-dev"></i> !</a>
                                </span><br>
                                <span>"How To Build A CSS Pre-processor From Scratch" got featured on dev.to</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">July 2019</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://python.libhunt.com/newsletter/165">
                                        Article Featured In Awesome Python
                                    </a>
                                </span><br>
                                <span>
                                    "How To Build A CSS Pre-processor From Scratch" got featured in Awesome Python newsletter issue 165
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Aug 2019</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://pythonawesome.com/implementation-of-processing-orgs-processing-in-pure-python/">
                                        Project Listed On pythonawesome.com
                                    </a>
                                </span><br>
                                <span>
                                    Pure Python implementation of processing.org's processing (github.com/Abdur-rahmaanJ/ppython) got listed on pythonawesome.com
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Sept 2019</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://www.linkedin.com/posts/appinv_python-processing-mauritius-activity-6569293875998003202-EStJ">
                                        Post Got Trending Status For #python On <i class="fab fa-linkedin"></i> !
                                    </a>
                                </span><br>
                                <span>
                                    Post on ppython got trending status on LinkedIn!
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Dec 2019</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://www.pyladies.com/blog/PyLadies-Global-Council-Selection-Process-Voting-Now-Open/pyladies-global-council-process-vote/">
                                        PyLadies
                                    </a>
                                </span><br>
                                <span>
                                    PyLadies thanking for Arabic translations.
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Jan 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://scikit-learn.org/stable/_downloads/scikit-learn-docs.pdf">
                                        ScikitLearn
                                    </a>
                                </span><br>
                                <span>
                                    Thanks under "Code and Documentation Contributors" in User Guide.
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Jan 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://py.checkio.org/blog/missions-of-the-week-unruly-etc/">
                                        Checkio.org Shared Blog Post
                                    </a>
                                </span><br>
                                <span>
                                    Checkio.org shared blog post about "Legally Free Python Books"
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Jan 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://python.libhunt.com/newsletter/192">
                                        Article Featured In Awesome Python
                                    </a>
                                </span><br>
                                <span>
                                    "Legally Free Python Books" got featured in Awesome Python newsletter issue 192
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Feb 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://python.libhunt.com/newsletter/192">
                                        Open Source Project Featured In Python Weekly
                                    </a>
                                </span><br>
                                <span>
                                    <a href="https://www.github.com/Abdur-rahmaanJ/Shopyo">github.com/Abdur-rahmaanJ/Shopyo</a> got featured in Python Weekly newsletter issue 436
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Feb 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://github.com/Pilifer/awesome-zen-of-python/">
                                        Article Added In Awesome Zen Repo
                                    </a>
                                </span><br>
                                <span>
                                    "The Zen Of Python Is A Joke And Here Is Why" added as a resource for understanding the Zen of Python
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Feb 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://pythonbytes.fm/episodes/show/170/visualize-this-visualizing-python-s-visualization-ecosystem">
                                        Podcast Calls Article A Must Read
                                    </a>
                                </span><br>
                                <span>
                                    PythonBytes (same folks as talkpython.fm) tells: "Abdur-Rahmaan Janhangeer: The Zen Of Python Is A Joke And Here Is Why is a must read."
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Feb 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://www.geeksforgeeks.org/migrate-pyqt5-app-to-pyside2/">
                                        Article published on Geeksforgeeks.org
                                    </a>
                                </span><br>
                                <span>
                                    "Migrate PyQt5 app to PySide2" is published
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Mar 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="http://www.tuxmachines.org/node/134905">
                                        Tuxmachines.org Featured 2 Articles
                                    </a>
                                </span><br>
                                <span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Mar 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="http://www.tuxmachines.org/node/134966?quicktabs_authors=2">
                                        Tuxmachines.org Featured 1 Article
                                    </a>
                                </span><br>
                                <span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Mar 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="">
                                        Article Featured In Weekly Digest On Codementor.io
                                    </a>
                                </span><br>
                                <span>
                                    Article gets 2nd top post of the week
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Mar 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://www.linkedin.com/posts/appinv_the-key-to-django-and-flask-activity-6642695171144318976-QEpN">
                                        Post Got Trending Status For #python On <i class="fab fa-linkedin"></i> !
                                    </a>
                                </span><br>
                                <span>
                                    Post on "Grasping Both Flask And Django In One Session" got trending status on LinkedIn!
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Apr 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="#">
                                        Authored the FlaskCon initiative
                                    </a>
                                </span><br>
                                <span>
                                    FlaskCon becomes an approved PSF trademark
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">May 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://www.geeksforgeeks.org/creating-custom-widgets-in-pyqt5/">
                                        Article published on Geeksforgeeks.org
                                    </a>
                                </span><br>
                                <span>
                                    "Creating Custom Widgets in PyQt5" is published
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Jun 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://flaskcon.com">
                                        FlaskCon close up
                                    </a>
                                </span><br>
                                <span>
                                    After months of preparation, the event is finally over with <a href="https://www.youtube.com/channel/UC3QC5pASs8v5YVxKwJDtZeQ">lots of good talks! </a>Lots of awesome speakers and fantastic response from the community outlets like RealPython, PythonWeekly etc
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Jul 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://www.youtube.com/watch?v=rkzXQOC1T0Q&list=PL8uoeex94UhHgMD9GOCbEHWku7pEPx9fW&index=34">
                                        Euro Python Talk
                                    </a>
                                </span><br>
                                <span>
                                    My talk "Django Clone From Scratch" got delivered at EuroPython
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Sep 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://hackernoon.com/the-zen-of-python-as-related-by-masters-n32h3tu3">
                                        Hackernoon.com published article
                                    </a>
                                </span><br>
                                <span>
                                    My article "The Zen of Python: As related by Master" got published on hackernoon.
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Sep 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://twitter.com/CodementorIO/status/1306295790441246725?s=20">
                                        Codementor.io included article in #100DaysOfCode
                                    </a>
                                </span><br>
                                <span>
                                    Hooman is a library i maintain.
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Nov 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://porter.io/digest/20201125/e9df7d222ec311eb87d9361b9c01e521/">
                                        Porter.io adds article in recommended news!
                                    </a>
                                </span><br>
                                <span>
                                    The article "Python: Running Makefiles on Windows" got recommended.
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Dec 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://pycoders.com/issues/453">
                                        RealPython's Newsletter selected article in issue #453
                                    </a>
                                </span><br>
                                <span>
                                    The article <a href="https://www.pythonkitchen.com/zen-of-python-in-depth/">"The Zen Of Python: A Most In Depth Article"</a> got selected in PyCoders weekly. I could not find a more thourough article on the Zen written before. Hence the claim: "The most in-depth article about the Zen ever written in history"
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Dec 2020</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://news.ycombinator.com/item?id=25427504">
                                        Article Makes it to the HackerNews front page
                                    </a>
                                </span><br>
                                <span>
                                    <a href="https://www.pythonkitchen.com/legally-free-python-books-list/">The Most Complete List of Legally Free Python Books</a> makes it, reteeted and reshared a lot here and there
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Mar 2021</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://pepy.tech/project/hooman">
                                        Hooman gets 18k downloads
                                    </a>
                                </span><br>
                                <span>
                                    The PyGame library seems to get adopted on PyPi
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="notification is-white ">
                        <div class="columns">
                            <div class="column">
                                <span class="tag is-info">Mar 2021</span>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <i class="em em-medal coolinfo-icon" aria-role="presentation" aria-label=""></i>
                            </div>
                            <div class="column is-11">
                                <span class="coolinfo-text">
                                    <a href="https://www.linkedin.com/posts/appinv_opensource-mauritius-activity-6774529671146037248-bKLA">
                                        We helped 100+ people get into OpenSource
                                    </a>
                                </span><br>
                                <span>
                                    Counted from my Github projects!
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Holder end-->
            </div>
        </div>
    </div>
    </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Generated using Python
        </p>
      </div>
    </footer>
</body>

</html>